body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loginPanel{
  display: flex;
  flex-direction: column;
  flex: auto;
  width: min-content;
  margin-left: 45vw;
  margin-top: 300px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
  background-color:#f0ffff;
} 
